<div id="<%= dom_id perspective %>">
  <p>
    <strong>Query:</strong>
    <%= perspective.query %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= perspective.name %>
  </p>

  <p>
    <strong>Pinned:</strong>
    <%= perspective.pinned %>
  </p>

</div>
