<div data-perspective--results-target="results">
</div>

<template data-perspective--results-target="rowTemplate">
  <tr>
  </tr>
</template>

<template data-perspective--results-target="tableTemplate">
  <table>
    <thead>
    <tr>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</template>
